<!DOCTYPE html>
<html>

<head>
  <%- include('../layouts/head') %>
</head>

<body>
  <header>
    <%- include('../layouts/header') %>
  </header>
  <main>
    <section class="book container">
      <ul id="book-list">
        <li class="book-item" data-id="<%= book.id %>">
          <h4>Title: <%= book.title %></h4>
          <p>Image: <%= book.image %></p>
          <p>Desciption: <%= book.description %></p>
          <!-- <p>Completion status: <%= task.status %></p>
          <p>Category: <%= task.category %></p>
          <p>Complete this task by <%= task.due %></p> -->
        </li>
      </ul>
    </section>
  </main>
</body>

</html>
